
<h1> "Always be on the lookout for <b>WONDER</b>" - E.B White </h1>

<h1> “I haven’t been every<b>WHERE</b>, but it’s on my list.” – Susan Sontag </h1>

<h1>“Not all those who <b>WANDER</b> are lost.” – J.R.R. Tolkien </h1>


<h3> <b> Wonder Where to Wander? Create your Wander Wishlist for your dream travels </b> </h3>


<%= link_to 'Wander Wishlist', ideas_path, :class => "btn2" %>

<div class="land">  </div>